@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">@Localization.Localization.Greeting</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<label for="cultureSelect">Change language</label>
<select id="cultureSelect">
  <option value="en-US">en-US</option>
  <option value="de-DE">de-DE</option>
</select>